.container {
    display: grid;
    background: #BBADA0;
    height: 500px;
    width: 500px;
    border-radius: 6px;
    padding: 15px;
    margin: 40px auto;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-gap: 15px;
}